body {
  font-family: "Arial", Arial, sans-serif;
}
  
  .buttonText {
    cursor: pointer;
  }
	.tooltip {
  		background-color: white;
      position: absolute;
      left: 30px;
      top: -50px;
      min-width: 150px;
  		border-color: black;
  		border-width: 2px;
  		border-style: solid;
      opacity: 0.8;
		}

	#info1text{
		background-color: white;
  		border-color: black;
  		border-width: 2px;
  		border-style: solid;
      min-width: 75px;
		}