body {
  font-family: "Arial", Arial, sans-serif;
}
  
  #svg1 {
    max-width: 1500px;
  }

  #background1 {
    max-width: 1600px;
  }

  #svg2 {
    max-width: 250px;
  }

  #svg3 {
    max-width: 1250px;
  }

  .axis {
    fill: none;
    stroke: black;
    stroke-width: 1px;
  }

  .axis text {
    font-size: 12px;
    fill: black;
  }
  
  .buttonText {
    cursor: pointer;
    -moz-user-select: none;
  }

  .axislabel {
    font-weight: bold;
  }
  
	.tooltipHOI {
  		background-color: white;
      position: absolute;
      left: 30px;
      top: -50px;
      min-width: 150px;
  		border-color: black;
  		border-width: 1px;
  		border-style: solid;
      opacity: 0.8;
		}

	#info1text{
		background-color: white;
  		border-color: black;
  		border-width: 2px;
  		border-style: solid;
      min-width: 75px;
		}
